<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b55b38f-b786-461d-b8dc-6b7e1d644041" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>projectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="90a2a91d-e4f7-4722-bbe0-97e69e5cf7c5">projectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="88a08d6c-2c79-4ba0-91d4-2cfd4fa69b4c" SortOrder="0">projectItemDetailPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fc770cec-4c80-4235-803e-63b2f66cc2af</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>43aafa78-5cd4-4836-b611-e11867d19178</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66567479-6821-4857-9c98-8523bd51ad46</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>497e305e-e4e1-44d2-80d6-3ac032d96e00</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>bae4c838-e41f-4cc2-9614-087cddb1c6eb</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>