<?xml version="1.0" encoding="utf-8"?>
<Content Key="617bf81f-d19e-4629-b68d-d76f31912442" Alias="Projects" Level="2">
  <Info>
    <Parent Key="654cee85-5527-4452-9236-7df29769b407">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-09-24T09:28:04</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="90a2a91d-e4f7-4722-bbe0-97e69e5cf7c5">projectPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f3bc258-c4d2-4a35-a6d6-44f958a73caa",
      "udi": "umb://element/bc98ce59b0384c409ffa989868c95445",
      "sectionTitle": "Tags",
      "tagItemName": "[\u0022Finance\u0022,\u0022Report\u0022,\u0022Bussiness plans\u0022,\u0022Insights\u0022,\u0022App\u0022,\u0022Project\u0022,\u0022Pricing\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/bc98ce59b0384c409ffa989868c95445",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>