<?xml version="1.0" encoding="utf-8"?>
<Content Key="96dc419c-4d3c-4f7c-905e-b1e48783b1b5" Alias="Services" Level="2">
  <Info>
    <Parent Key="654cee85-5527-4452-9236-7df29769b407">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2024-09-24T08:23:32</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b207437-48de-4f03-b959-906ce96f2321">servicePage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>