<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b7b2d9c-edf4-44cc-b7ba-e89c158729a1" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-20T11:32:30</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhone>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "bfd68096-b861-4dcb-84e6-c1cc8eae5cd5",
    "mediaKey": "0f7b6617-0da5-47e1-ac32-a5fadeb814c5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6cd69214-3067-4e7f-8711-0b0e0c5a6473",
      "udi": "umb://element/31a39e9af6744a25a77af52307473144",
      "platformName": "[\u0022Facebook\u0022]",
      "platformUrl": "http://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "6cd69214-3067-4e7f-8711-0b0e0c5a6473",
      "udi": "umb://element/fe275faacba3489f8a938b778b7567d8",
      "platformName": "[\u0022Instagram\u0022]",
      "platformUrl": "http://instagram.com/onatrix"
    },
    {
      "contentTypeKey": "6cd69214-3067-4e7f-8711-0b0e0c5a6473",
      "udi": "umb://element/c67078c3f74346bcbf44575464f190b4",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformUrl": "http://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "6cd69214-3067-4e7f-8711-0b0e0c5a6473",
      "udi": "umb://element/3c5dce5c117e409eb16ac9fc6661b77b",
      "platformName": "[\u0022TikTok\u0022]",
      "platformUrl": "http://tiktok.com/onatrix"
    },
    {
      "contentTypeKey": "6cd69214-3067-4e7f-8711-0b0e0c5a6473",
      "udi": "umb://element/7e6d5de098fd45adbb048173434652ea",
      "platformName": "[\u0022X\u0022]",
      "platformUrl": "http://twitter.com/onatrix"
    },
    {
      "contentTypeKey": "6cd69214-3067-4e7f-8711-0b0e0c5a6473",
      "udi": "umb://element/83119ac1516b4dd3896ce2baf1202552",
      "platformName": "[\u0022YouTube\u0022]",
      "platformUrl": "http://youtube.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/31a39e9af6744a25a77af52307473144",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fe275faacba3489f8a938b778b7567d8",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c67078c3f74346bcbf44575464f190b4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/3c5dce5c117e409eb16ac9fc6661b77b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/7e6d5de098fd45adbb048173434652ea",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/83119ac1516b4dd3896ce2baf1202552",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>