<?xml version="1.0" encoding="utf-8"?>
<Media Key="11be9636-2861-480a-b414-9ce59687874b" Alias="aboutUsOurTeam4.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/aboutUsOurTeam4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T14:06:47</CreateDate>
    <NodeName Default="aboutUsOurTeam4.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xfoprjyi/aboutusourteam4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>