<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5d8c17b-7dde-4a3b-a84c-0325deabb58e" Alias="aboutUsOurTeam1.png (1)" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/aboutUsOurTeam1png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T15:20:52</CreateDate>
    <NodeName Default="aboutUsOurTeam1.png (1)" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>