<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3cb3cd9-5291-4434-9637-9c5c02e85e30" Alias="aboutUsOurTeam6.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/aboutUsOurTeam6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T14:06:48</CreateDate>
    <NodeName Default="aboutUsOurTeam6.png" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k11i0fpy/aboutusourteam6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>