<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d6610d8-ab6f-4098-b3e8-24e1d911ba44" Alias="aboutUsServiceDetailsImg.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/aboutUsServiceDetailsImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T09:50:55</CreateDate>
    <NodeName Default="aboutUsServiceDetailsImg.png" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k5ncbsyg/aboutusservicedetailsimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>