<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f9eda2d-20f3-4f9b-a571-8e15e6595ac0" Alias="breadvrumbRectangleRight.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/breadvrumbRectangleRightpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:30:16</CreateDate>
    <NodeName Default="breadvrumbRectangleRight.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uiinrwm0/breadvrumbrectangleright.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>