<?xml version="1.0" encoding="utf-8"?>
<Media Key="2127c170-1033-41a8-9090-5fdf9092aa4c" Alias="contactUsMapBgImg.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/contactUsMapBgImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T11:49:02</CreateDate>
    <NodeName Default="contactUsMapBgImg.png" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/52fhdf00/contactusmapbgimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>