<?xml version="1.0" encoding="utf-8"?>
<Media Key="da3592d5-4883-43a6-9f17-6179e1ab60ef" Alias="contactUsInfoSectionBg.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/contactUsInfoSectionBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T15:58:52</CreateDate>
    <NodeName Default="contactUsInfoSectionBg.png" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ljmhg1hk/contactusinfosectionbg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>