<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2e192d1-c6c1-4425-8dee-1907d588131a" Alias="contactUsInfoImage.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/contactUsInfoImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T15:58:43</CreateDate>
    <NodeName Default="contactUsInfoImage.png" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lzmkoffi/contactusinfoimage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>