<?xml version="1.0" encoding="utf-8"?>
<Media Key="6854eb9f-6b54-4918-b260-607b3e7c9a19" Alias="homePartnersSectionImg-05.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homePartnersSectionImg05png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:30:15</CreateDate>
    <NodeName Default="homePartnersSectionImg-05.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/caqbfxr3/homepartnerssectionimg-05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>