<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b9f81b4-d3c6-4c0c-9a91-45db2ea6e2c3" Alias="homeOurServiceImg-1.svg" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homeOurServiceImg1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T11:30:15</CreateDate>
    <NodeName Default="homeOurServiceImg-1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iy4d1oo3/homeourserviceimg-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>