<?xml version="1.0" encoding="utf-8"?>
<Media Key="39e2b80e-8584-444e-8384-3a3296959ff5" Alias="homeShowcaseImg.svg" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homeShowcaseImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T11:30:16</CreateDate>
    <NodeName Default="homeShowcaseImg.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5qcfbw25/homeshowcaseimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>