<?xml version="1.0" encoding="utf-8"?>
<Media Key="463a1be9-f457-45da-a353-ba2d5cf78e6f" Alias="homeChooseUsImg-dotBg.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homeChooseUsImgDotBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:30:14</CreateDate>
    <NodeName Default="homeChooseUsImg-dotBg.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m1ihz2b4/homechooseusimg-dotbg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>