<?xml version="1.0" encoding="utf-8"?>
<Media Key="f28a9be2-62a6-4d38-9d3d-ea35fd9b10f2" Alias="homeRecentProjectImg-4.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homeRecentProjectImg4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:30:16</CreateDate>
    <NodeName Default="homeRecentProjectImg-4.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nvinyrgp/homerecentprojectimg-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>