<?xml version="1.0" encoding="utf-8"?>
<Media Key="0efa0a79-ea1e-448b-b716-ef269719db08" Alias="homeOurServiceImg-4.svg" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homeOurServiceImg4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T11:30:15</CreateDate>
    <NodeName Default="homeOurServiceImg-4.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ro1fr1af/homeourserviceimg-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>