<?xml version="1.0" encoding="utf-8"?>
<Media Key="08850172-df6b-4f92-abe6-437fd9fd9cd0" Alias="homePartnersSectionImg-04.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homePartnersSectionImg04png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:30:15</CreateDate>
    <NodeName Default="homePartnersSectionImg-04.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5xfnhpqc/homepartnerssectionimg-04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>