<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8161d2b-3c54-4ea6-b80c-a32ff8bf501f" Alias="homSuccessStoryImg-dotBg.svg" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/homSuccessStoryImgDotBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T11:30:16</CreateDate>
    <NodeName Default="homSuccessStoryImg-dotBg.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1gqliosp/homsuccessstoryimg-dotbg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>