<?xml version="1.0" encoding="utf-8"?>
<Media Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081" Alias="images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T11:29:34</CreateDate>
    <NodeName Default="images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>