<?xml version="1.0" encoding="utf-8"?>
<Media Key="aaae40c3-72b6-4344-b4ac-e54aefee9a56" Alias="Img-1 1.svg" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T11:30:16</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gh4bysfn/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>