<?xml version="1.0" encoding="utf-8"?>
<Media Key="66362d67-a21a-433a-9a1e-54cde22b9606" Alias="ourProjectsBigImg.png" Level="2">
  <Info>
    <Parent Key="6131a1a4-e82d-4cbe-aeea-d99b5cef0081">images</Parent>
    <Path>/images/ourProjectsBigImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T10:18:43</CreateDate>
    <NodeName Default="ourProjectsBigImg.png" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3dthbudt/ourprojectsbigimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>