<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52261c71-c593-4786-b510-702e93eb0165" Alias="About Us Testimonial Star Icon - About Us Testimonial Star Icon Item" Level="1">
  <Info>
    <Name>About Us Testimonial Star Icon - About Us Testimonial Star Icon Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "71ec1fb4-9a05-4df4-8ff2-f4823d4f4614"
    }
  ]
}]]></Config>
</DataType>