<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2a5d32e-aa96-453d-9408-b4eebec92052" Alias="About Us Our Team - About Us Our Team Item" Level="1">
  <Info>
    <Name>About Us Our Team - About Us Our Team Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "11b8e4ca-e137-49f1-8d5a-4b9906df9c9a",
      "label": "**{=aboutUsOurTeamMainText}**"
    }
  ]
}]]></Config>
</DataType>