<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af07f5ff-e7df-47a9-ad25-2d093b3b0fff" Alias="Contact Form - Contact Form" Level="1">
  <Info>
    <Name>Contact Form - Contact Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b8489c99-d3e2-4681-b3b6-e94339fde13f",
      "label": "**{=uniqueName}**"
    },
    {
      "contentElementTypeKey": "554da415-bb2b-4e32-af10-bc713bfbaadd",
      "label": "**{=uniqueName}**"
    },
    {
      "contentElementTypeKey": "d8d4652c-c9dd-494b-81a5-26c15f875fca",
      "label": "**{=uniqueName}**"
    },
    {
      "contentElementTypeKey": "3f57a5e0-a487-4cdf-87cf-c27b4790d3c0",
      "label": ""
    },
    {
      "contentElementTypeKey": "d70c8490-dcdb-49ca-9d7b-539966da0ae7",
      "label": "**{=uniqueName}**"
    },
    {
      "contentElementTypeKey": "8628246b-5f08-487d-8aca-17eb71363f35"
    }
  ]
}]]></Config>
</DataType>