<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edca010f-0fdd-4b38-a8bc-866356bd5824" Alias="Form Button - Button Type" Level="1">
  <Info>
    <Name>Form Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Submit",
    "Reset"
  ]
}]]></Config>
</DataType>