<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb2ad7d4-177c-4524-b7c5-f410bb3641a5" Alias="Home Success Story Box - Home Success Story Box Item" Level="1">
  <Info>
    <Name>Home Success Story Box - Home Success Story Box Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "831a9290-6aa8-47ec-b17e-e945f15ff1cd",
      "label": ""
    }
  ]
}]]></Config>
</DataType>