<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47c6e630-2717-4280-86dc-c6772d664bc7" Alias="Input Drop Selection - Category Name" Level="1">
  <Info>
    <Name>Input Drop Selection - Category Name</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0ce0033c-5228-434c-899f-4b57bf13f9aa",
      "label": "**{=categoryName}**"
    }
  ]
}]]></Config>
</DataType>