<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43aafa78-5cd4-4836-b611-e11867d19178" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "d2197f72-0740-453d-af94-13a70650452d",
      "name": "Containers"
    },
    {
      "key": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "name": "Content"
    },
    {
      "name": "Components",
      "key": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "71691070-c891-4fe0-8ab1-58de082965ad",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "b7b21dcc-df38-43aa-a8e1-fb0185a47cae",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "d2197f72-0740-453d-af94-13a70650452d"
    },
    {
      "contentElementTypeKey": "ed0d5b6d-250a-4782-8e61-2069f78091ee",
      "allowAtRoot": false,
      "groupKey": "d2197f72-0740-453d-af94-13a70650452d",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "4088b85a-e038-40ae-87b5-47debc10a021",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "1b3d772a-cc9d-48df-95fc-ab7d0d04f795",
      "allowAtRoot": false,
      "groupKey": "d2197f72-0740-453d-af94-13a70650452d",
      "label": "dynamic Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "29f43e95-91fc-4081-ac96-21362a56dfcd",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "7555017f-e8d0-46b2-bd8d-d235b668f9f9",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "82bc5ba1-f39b-4cfc-aac6-7f39de459bb1",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c57258df-65ca-4c90-a4f8-8f7eeb08bb8f",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d22dc81e-2a8d-4ee5-bbf4-312e5aefad8e",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "430e78d5-8400-4c98-b52e-bd51c59aeb8e",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2dbe9eec-09ed-4ca1-957d-145ee0346890",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "777cc945-b082-4a03-9182-b1bcdc37d316",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d7f227b1-873e-4ed0-83cc-02a0b07b52db",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "67571f7e-783e-4d50-a73d-0ea8333615cf",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4e238785-e860-4077-bffe-a5010d311cbc",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0582998f-6292-43d7-994b-c330924540ee",
      "allowAtRoot": true,
      "groupKey": "d2197f72-0740-453d-af94-13a70650452d",
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "a6c58e3c-121a-4c82-9578-58c05dabda43",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "35afd86e-8369-42e4-8b5a-bd7d1bd42162",
      "allowAtRoot": false,
      "groupKey": "91efbfaf-a4db-4d2f-9c63-93d2ddba156e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2065ccdc-fb94-4f84-bea0-761101ff05e8",
      "allowAtRoot": false,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "81876490-ee6f-4032-9e7c-851b351b636e",
      "allowAtRoot": false,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b132b7f1-e4c4-440e-a56f-69815faa3b59",
      "allowAtRoot": false,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 1
        }
      ],
      "areas": []
    },
    {
      "contentElementTypeKey": "955c6dbb-b8e3-4a0d-9d79-4475fbe5d960",
      "allowAtRoot": false,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "areas": []
    },
    {
      "contentElementTypeKey": "6e033a8d-98b1-4210-91c2-90ee4ef1bcd1",
      "allowAtRoot": false,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8208c0c6-c7da-4517-b5ce-a8d249f3b661",
      "allowAtRoot": false,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bbf05bda-c577-4eb8-aff1-17b8e84f0acf",
      "allowAtRoot": true,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true,
      "label": "**{=sectionTitle}**"
    },
    {
      "contentElementTypeKey": "d7431310-3b08-457f-b4ef-8a5924696368",
      "allowAtRoot": true,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "allowInAreas": true,
      "label": "**{=sectionTitle}**"
    },
    {
      "contentElementTypeKey": "8f3bc258-c4d2-4a35-a6d6-44f958a73caa",
      "allowAtRoot": true,
      "groupKey": "8edc1dd4-8dc0-47e5-9dbf-6f3732aece02",
      "label": "**{=sectionTitle}**",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>