<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dde081d-9042-4b60-bf60-c5ea37def33c" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6cd69214-3067-4e7f-8711-0b0e0c5a6473",
      "label": "**{=platformName}**"
    }
  ]
}]]></Config>
</DataType>