<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afbbaca5-1c6b-42d2-91e5-40d55268c5a7" Alias="Social Media Item - Platform Name" Level="1">
  <Info>
    <Name>Social Media Item - Platform Name</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X",
    "YouTube"
  ],
  "multiple": false
}]]></Config>
</DataType>