<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a79f7746-40ed-4552-b5ce-71a012266d13" Alias="Tags Section - Tag Item" Level="1">
  <Info>
    <Name>Tags Section - Tag Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00c622b5-7da9-463f-9024-390441593981",
      "label": "**{=tagName}**"
    }
  ]
}]]></Config>
</DataType>