@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var aboutUsShowcaseImage = Model?.Content.Value<IPublishedContent>("aboutUsShowcaseImage")?.Url() ?? null;
    var aboutUsShowcaseImageText = Model?.Content.Value<string>("aboutUsShowcaseImageText") ?? "";
}

<div id="aboutUsShowcaseImageBox">
    <img src="@aboutUsShowcaseImage" alt="@aboutUsShowcaseImageText"/>
    <p>@aboutUsShowcaseImageText</p>
</div>

